## Main Developers

<h4 class="contributors">Andre Henriques<sup>1</sup>, Luis Aleixo<sup>1</sup>, Marco Andreini<sup>1</sup>, Gabriella Azzopardi<sup>2</sup>, James Devine<sup>3</sup>, Philip Elson<sup>4</sup>, Nicolas Mounet<sup>2</sup>, Markus Kongstein Rognlien<sup>2,6</sup>, Nicola Tarocco<sup>5</sup></h4><br>

<sup>1</sup>HSE Unit, Occupational Health & Safety Group, CERN<br>
<sup>2</sup>Beams Department, Accelerators and Beam Physics Group, CERN<br>
<sup>3</sup>Experimental Physics Department, Safety Office, CERN<br>
<sup>4</sup>Beams Department, Controls Group, CERN<br>
<sup>5</sup>Information Technology Department, Collaboration, Devices & Applications Group, CERN<br>
<sup>6</sup>Norwegian University of Science and Technology (NTNU)<br>

## Code Contributors

<h4 class="contributors">Anna Efimova<sup>1,2</sup>, Anel Massalimova<sup>1,3</sup>, Cole Austin Coughlin<sup>1,4</sup>, Germain Personne<sup>5</sup></h4>

<sup>1</sup>Summer Students, CERN<br>
<sup>2</sup>M.V. Lomonosov Moscow State University<br>
<sup>3</sup>National Research Nuclear University "MEPhI"<br>
<sup>4</sup>University of Manitoba<br>
<sup>5</sup>Université Clermont Auvergne<br>

## Acknowledgements

We wish to thank CERN’s HSE Unit, Beams Department, Experimental Physics Department, Information Technology Department, Industry, Procurement and Knowledge Transfer Department and International Relations Sector for their support to the study. Thanks to Doris Forkel-Wirth, Benoit Delille, Walid Fadel, Olga Beltramello, Letizia Di Giulio, Evelyne Dho, Wayne Salter, Benoit Salvant and colleagues from the COVID working group for providing expert advice and extensively testing the model. Finally, we wish to thank Fabienne Landua and the design service for preparing the illustrations and Alessandro Raimondo and Manuela Cirilli from the Knowledge Transfer Group for their continuous support. Our compliments towards the work and research performed by world leading scientists in this domain: Dr. Julian Tang, Prof. Manuel Gameiro, Dr. Linsey Marr, Prof. Lidia Morawska, Prof. Yuguo Li, and others – their scientific contribution was indispensable for this project. 

## Disclaimer
<p> 
    CARA is a risk assessment tool developed to model the concentration of viruses in enclosed spaces, in order to inform space-management decisions.
</p>
<p>
    CARA models the concentration profile of virions in enclosed spaces with clear and intuitive graphs.
    The user can set a number of parameters, including room volume, exposure time, activity type, mask-wearing and ventilation.
    The report generated indicates how to avoid exceeding critical concentrations and chains of airborne transmission in spaces such as individual offices, meeting rooms and labs.
</p>
<p>
    The risk assessment tool simulates the long-range airborne spread SARS-CoV-2 virus in a finite volume, assuming a homogenous mixture, and estimates the risk of COVID-19 airborne transmission therein.
    The results DO NOT include short-range airborne exposure (where the physical distance is a significant factor) nor the other known modes of SARS-CoV-2 transmission.
    Hence, the output from this model is only valid when the other recommended public health & safety instructions are observed, such as adequate physical distancing, good hand hygiene and other barrier measures.
</p>
<p>
    The model used is based on scientific publications relating to airborne transmission of infectious diseases, dose-response exposures and aerosol science, as of February 2021.
    It can be used to compare the effectiveness of different airborne-related risk mitigation measures.
</p>
<p>
    Note that this model applies a deterministic approach, i.e., it is assumed at least one person is infected and shedding viruses into the simulated volume.
    Nonetheless, it is also important to understand that the absolute risk of infection is uncertain, as it will depend on the probability that someone infected attends the event.
    The model is most useful for comparing the impact and effectiveness of different mitigation measures such as ventilation, filtration, exposure time, physical activity and
    the size of the room, only considering long-range airborne transmission of COVID-19 in indoor settings.
</p>
<p>
    This tool is designed to be informative, allowing the user to adapt different settings and model the relative impact on the estimated infection probabilities.
    The objective is to facilitate targeted decision-making and investment through comparisons, rather than a singular determination of absolute risk.
    While the SARS-CoV-2 virus is in circulation among the population, the notion of 'zero risk' or 'completely safe scenario' does not exist.
    Each event modelled is unique, and the results generated therein are only as accurate as the inputs and assumptions.
</p>
<p>
    CARA has not undergone review, approval or certification by competent authorities, and as a result, it cannot be considered
    as a fully endorsed and reliable tool, namely in the assessment of potential viral emissions from infected hosts to be modelled.
</p>

## References

Reference list can be found in the CARA paper: <a href="https://cds.cern.ch/record/2756083"> CERN-OPEN-2021-004</a>
