{% extends "layout.html.j2" %}
{% set active_page="home/" %}

    {% block main %}
    <div style="height: 8em; display: block;"></div>

    <div class="field--item">
      <div class="component-row component-row__display__fluidcenter section-navigation effect_none">
        <div class="component-row__row">
          <div class="component-row__column component-row__center section-has-no-column col-md-12 col-sm-12 col-xs-12">
            <div class="box-effects-wrapper ">

              <div class="text-component text-component-page clearfix" style="position:relative; " >

                <img src="/static/images/cara_logo.png" style="width:100px; height:200px; display:inline-block; vertical-align:middle; object-fit:cover;"> 
                <h2 class="text-component-title" style="display:inline-block; vertical-align:middle; align:center;">
                  CARA: COVID Airborne Risk Assessment Tools
                </h2>
                <div class="text-component-text cern_full_html" style="align:center;">
                  
                    <h4>Please try out the CARA COVID calculator <a href="/calculator">here</a>.
                    Your feedback is most welcome at <a href="mailto:CARA-dev@cern.ch">CARA-dev@cern.ch</a></h4>
                    <span style="height: 5vh; display: block;"></span>
                  
                  <span style="min-height: 50vh; height: 100%;"></span>
                </div>

                <h2>Authors:</h2><br>
                <div class="text-component-text cern_full_html" >
                  <p>
                    <h4>Andre Henriques¹, Gabriella Azzopardi², James Devine³, Philip Elson⁴, Nicolas Mounet², Markus Kongstein Rognlien²</h4><br>

                    ¹HSE Unit, Occupational Health & Safety Group, CERN<br>
                    ²Beams Department, Accelerators and Beam Physics Group, CERN<br>
                    ³Experimental Physics Department, Safety Office, CERN<br>
                    ⁴Beams Department, Controls Group, CERN<br>
                    <span style="height: 10vh; display: block;"></span>
                  </p>

                  <h3>Acknowledgements:</h3><br>
                  <p>
                    We thank CERN’s HSE Unit, Beams Department and Experimental Physics Department for their continuous support. Thanks to Doris Forkel-Wirth, Olga Beltramello, Letizia Di Giulio and Evelyne Dho for providing expert advice and extensively testing the tool. We thank Fabienne Landua and the Design and Visual Identity Service for preparing the logo.  Thanks also to colleagues like Oriol Rios, Lina Dimovasili for the technical discussions and advice. Many thanks to the work and research performed by world leading scientists in this domain: Prof. Manuel Gameiro, Prof. Shelly Miller, Prof. Linsey Marr, Prof. Jose Jimenez, Dr. Lidia Morawska, Prof Yuguo Li – their contribution was indispensable for this project.
                    <span style="height: 10vh; display: block;"></span>
                  </p>
                </div>

              </div>

            </div>
          </div>

        </div>

      </div>

    </div>

    <a class="endof-cern-header-blocks"></a>

    </div>
    {% endblock main %}
