{% extends "layout.html.j2" %}
{% set HOME_ACTIVE=1 %}

    {% block main %}
    <div class="field--item">
      <div class="component-row component-row__display__fluidcenter section-navigation effect_none">
        <div class="component-row__row">
          <div class="component-row__column component-row__center section-has-no-column col-md-12 col-sm-12 col-xs-12">
            <div class="box-effects-wrapper ">


              <div class="text-component text-component-page clearfix">
                <h2 class="text-component-title">
                  CARA: COVID Area Risk Assessment Tools
                </h2>
                <div class="text-component-text cern_full_html">
                  <p>
                    Please try out the CARA COVID calculator <a href="/calculator">here</a>.
                    Your feedback is most welcome at <a href="mailto:CARA-dev@cern.ch">CARA-dev@cern.ch</a>
                    <span style="height: 35vh; display: block;"></span>
                  </p>
                  <span style="min-height: 50vh; height: 100%;"></span>
                </div>
              </div>

            </div>
          </div>

        </div>

      </div>

    </div>

    <a class="endof-cern-header-blocks"></a>

    </div>
    {% endblock main %}
