{% extends "layout.html.j2" %}

{% block main %}
<div style="height: 8em; display: block;"></div>

<div class="field--item">
    <div class="component-row component-row__display__fluidcenter section-navigation effect_none">
    <div class="component-row__row">
        <div class="component-row__column component-row__center section-has-no-column col-md-12 col-sm-12 col-xs-12">
        <div class="box-effects-wrapper ">
            <div class="text-component text-component-page clearfix">
            {% block contents %}
            {{ contents }}
            {% endblock contents %}
            </div>
        </div>
        </div>

    </div>

    </div>

</div>

<a class="endof-cern-header-blocks"></a>

</div>
<br>
{% endblock main %}
