#body {
	top: 10px;
	left: 20px;
	bottom: 20px;
	right: 20px;
	padding: 20px;
}

h1 {
	text-align: center;
}

.subtitle {
	text-align: center;
	font-size: 13pt;
	padding-bottom: 15pt;
}

p.data_italic {
	font-style: italic;
}

p.data_title {
	font-weight: bold;
}

p.data_text {
	padding-left: 30px;
}

p.data_subtext {
	padding-left: 60px;
	margin-left: -3em;
}

p.result_title {
	font-weight: bold;
	font-size: 15pt;
}

p.image {
	text-align: center;
	font-size: 13pt;
}

p.disclaimer {
	font-size: 12pt;
}

p.notes {
	font-size: 10pt;
}

.red_bkg {
  color: #000000;
  background-color: #CD5C5C;
  text-decoration: none;
}

.yellow_bkg {
  color: #000000;
  background-color: #FFFF00;
  text-decoration: none;
}

.green_bkg {
  color: #000000;
  background-color: #90EE90;
  text-decoration: none;
}

/* Flexbox layouts */
.flex {
	display: flex;
}

.flex_space_between {
	display: flex;
	justify-content: space-between;
}

.flex_flex_start {
	display: flex;
	justify-content: flex-start;
}

.flex_direction_column {
	display: flex;
	flex-direction: column;
}

.flex_direction_row {
	display: flex;
	flex-direction: row;
}