{% extends "base/calculator.form.html.j2" %}

{% block room_data %}
  <div data-tooltip="The area you wish to study (choose one of the 2 options). Use GIS Portal or measure. Also indicate if a central (radiator-type) heating system is in use.">
      <span class="tooltip_text">?</span>
  </div>
{% endblock room_data %}