{% extends "base/index.html.j2" %}

{% block cara_at_cern %}
<h2 class="paragraph-title">CARA @ CERN</h2><br>
<div>
  <p>
  CARA has been developed by CERN with the intention of allowing members of personnel with roles related to supervision, health & safety or space management to simulate the concerned workplaces on CERN sites.
  A hosted <a href="{{ calculator_prefix }}">CERN version of the CARA Covid Calculator</a> is available on this site to members of the CERN personnel.
  </p>
</div>
{% endblock cara_at_cern %}