{% extends "base/layout.html.j2" %}

{% block covid_information %}
  <li class="nav-link"><a href="https://hse.cern/covid-19-information" class="header-navbar nav-link">COVID information</a></li>
{% endblock covid_information %}