*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
main,
h1,
h2,
h3,
p {
  margin: 0;
}

/*-- Body Reset --*/
body {
  /* overflow-x: hidden */
  font-family: 'Montserrat', sans-serif;
  color: rgb(47, 72, 88);
}

/*============= TOP BAR HEADER =============*/

.top-bar{
  background: rgb(34, 34, 34);
  height: 2.8rem;
  padding: 0.5rem 0;
}

.top-bar a {
  color: rgb(153, 153, 153);
  text-decoration: none;
  font-size: 1.1rem;
}

/*============= NAVIGATION =============*/

.navbar-brand img {
  height: 4rem;
}

.navbar {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: .1rem;
  box-shadow: 0 .5rem .5rem rgba(0,0,0,.5);
  z-index: 1;
  background: rgb(42, 52, 66);
}

.nav {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

.nav-item {
  padding: .2rem;
}

.nav-link {
  color: rgb(255, 255, 255)!important;
}

.nav-link.active,
.nav-link:hover {
  color: rgb(45, 138, 241)!important;
}

/*============= SPLIT =============*/

.split {
  /* flex: 1; */
  clear: both;
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}



/*============= TEXT AND CONTENT =============*/

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 4em;
}

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

.container--narrow {
  max-width: 44rem;
}

.container--padding {
  padding: 2rem 0;
}

.header-text {
  text-align: center;
  font-size: 2.75vh;
}

.head-center {
  text-align: center;
  font-size: 3vh;
}

.center {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bigButton {
  width: 18em;
  height: 4em;
  background: rgb(45, 138, 241);
}

.breakBoxExposed {
  float:left; 
  margin-left:1rem; 
  margin-right:2rem;
}

.breakBoxInfected {
  display:none; 
  float:left; 
  margin-left:1rem; 
  margin-right:2rem;
}

.boxMargin {
  padding:10px; 
  border: 2px solid rgb(47, 52, 66);
}

.disclaimer {
  background: rgb(45, 138, 241);
  padding: 1.5rem 0;
  color: black;
}

.feedback {
  float:right; 
  font-size:1.7vh; 
  font-weight:bold;
}

/*===== FIXED BACKGROUND IMG =====*/

.fixed-background {
  overflow: hidden; /*-- Correction for iOS --*/
}

/*===== INPUT =====*/


/*============= FOOTER =============*/

footer {
  background-color: rgb(42, 52, 66);
  padding: 1rem 2rem 3rem;
}

footer img {
  height: 5.5rem;
  margin: 1.5rem auto;
}

/*============= MEDIA QUERIES =============*/

/* Devices over 640px (xl) */
@media screen and (min-width: 40em) {
  .split {
    flex-direction: row;
  }

  .split > * {
    flex-basis: 100%;
  }

  .header-text {
    text-align: left;
  }

  .split > * + * {
    margin-left: 2em;
  }

  .bigButton {
    width: 25%;
  }

  .logo {
    float: left;
    height: 6em;
  }

  .head-center {
    font-size: 2.5rem;
  }

  .header-text {
    font-size: 2rem;
  }
}
/* Devices under 768px (md) */
/* @media (max-width: 767.98px) {

} */


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

/* -- Bootstrap Mobile Gutter Fix -- */
/* .row, .container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
} */

/*-- Fixed Background Image --*/
/* .fixed-background {
  position: relative;
  width: 100%;
  z-index: 1000!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}
.fixed {
  z-index: -999!important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
} */