__pycache__
.ipynb_checkpoints
*.egg-info
*.DS_Store
*.pyc

# Editor stuff
*.swp
.idea
.vscode

env*
venv
support

# openshift config check folder
app-config/openshift/caimira-test
app-config/openshift/cara-prod

# documentation build folder
cara/docs/_build