__pycache__
.ipynb_checkpoints
*.egg-info
*.DS_Store
*.pyc

# Editor stuff
*.swp
.idea
.vscode

env*
venv
support

# openshift config check folder
app-config/openshift/caimira-test
app-config/openshift/caimira-prod

# documentation build folder
caimira/docs/_build

# Git LFS files
caimira/scripts/data/WeeklySummary_COVID19_VE_Studies_08Sep2022_adapted.xlsx
