---
  kind: "Template"
  apiVersion: template.openshift.io/v1
  metadata:
    name: "cara-application"
    creationTimestamp: null
    annotations:
      description: "CARA build config OpenShift template."
      tags: "cara-application"
  labels:
    template: "cara-application"
  objects:
    -
      kind: BuildConfig
      apiVersion: build.openshift.io/v1
      metadata:
        name: cara-router
        labels:
          template: "cara-application"
      spec:
        source:
          type: Git
          git:
            ref: ${GIT_BRANCH}
            uri: ${GIT_REPO}
          contextDir: app-config/nginx
        postCommit: {}
        resources: {}
        runPolicy: Serial
        output:
          to:
            kind: ImageStreamTag
            name: 'cara-router:latest'
        strategy:
          sourceStrategy:
            from:
              kind: ImageStreamTag
              name: 'nginx:1.18-ubi8'
              namespace: openshift
          type: Source
        triggers:
          - type: ImageChange
            imageChange: {}
          - type: ConfigChange
          - generic:
              secretReference:
                name: gitlab-cara-webhook-secret
            type: Generic
        nodeSelector: null
  parameters:
    - name: GIT_REPO
      description: The GIT repo URL
      value: 'https://gitlab.cern.ch/cara/cara.git'
    - name: GIT_BRANCH
      description: The name of the GIT branch to use when building the app, e.g. `live/caimira-test` in TEST, `master` in prod
      required: true
