---
  kind: "Template"
  apiVersion: "v1"
  metadata:
    name: "cara-services"
    creationTimestamp: null
    annotations:
      description: "CARA services OpenShift template."
      tags: "cara-services"
  labels:
    template: "cara-services"
  objects:
    -
      apiVersion: v1
      kind: Service
      metadata:
        labels:
          app: auth-service
        name: auth-service
      spec:
        ports:
          - name: 8080-tcp
            port: 8080
            protocol: TCP
            targetPort: 8080
        selector:
          deploymentconfig: auth-service
        sessionAffinity: 'None'
        type: 'ClusterIP'
    -
      apiVersion: v1
      kind: Service
      metadata:
        labels:
          app: cara-app
        name: cara-app
      spec:
        ports:
          - name: 8080-tcp
            port: 8080
            protocol: TCP
            targetPort: 8080
        selector:
          deploymentconfig: cara-app
        sessionAffinity: 'None'
        type: 'ClusterIP'
    -
      apiVersion: v1
      kind: Service
      metadata:
        labels:
          app: cara-router
        name: cara-router
      spec:
        ports:
          - name: 8080-tcp
            port: 8080
            protocol: TCP
            targetPort: 8080
        selector:
          deploymentconfig: cara-router
        sessionAffinity: 'None'
        type: 'ClusterIP'
    -
      apiVersion: v1
      kind: Service
      metadata:
        labels:
          app: cara-webservice
        name: cara-webservice
      spec:
        ports:
          - name: 8080-tcp
            port: 8080
            protocol: TCP
            targetPort: 8080
        selector:
          deploymentconfig: cara-webservice
        sessionAffinity: 'None'
        type: 'ClusterIP'
    -
      apiVersion: v1
      kind: Service
      metadata:
        labels:
          app: cara-calculator-open
        name: cara-calculator-open
      spec:
        ports:
          - name: 8080-tcp
            port: 8080
            protocol: TCP
            targetPort: 8080
        selector:
          deploymentconfig: cara-calculator-open
        sessionAffinity: 'None'
        type: 'ClusterIP'
