{% extends "layout.html.j2" %}

{% set MODEL_VERSION="v1.2.0" %}
{% set DEBUG=False %}
{% set active_page="calculator/" %}

{% block extra_headers %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous">
    <link rel="stylesheet" href="/calculator/static/css/form.css">
{% endblock extra_headers %}

{% block body_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous"></script>
    <script src="/calculator/static/js/form.js"></script>
{% endblock body_scripts %}


{% block main %}
<div style="margin: 2em;">
<div class="text-component text-component-page clearfix"></div>
<div style="height: 8em; display: block;"></div>

{{ MODEL_VERSION }} <span style="float:right; font-weight:bold">Please send feedback to <a href="mailto:CARA-dev@cern.ch">CARA-dev@cern.ch</a></span>
<div>
    <img src="/static/images/cara_logo.png" style="height:175px; width:100px; display:inline-block; vertical-align:middle; object-fit:cover;">
    <h1 style="display:inline-block; vertical-align:middle;"><b>CARA - </b> COVID Airborne Risk Assessment calculator</h1>
</div>

{% if DEBUG %}
<form id="covid_calculator" name="covid_calculator" onsubmit="return debug_submit(this)">
{% else %}
<form id="covid_calculator" name="covid_calculator" action="/calculator/report" onsubmit="return validate_form(this)" method="POST">
{% endif %}

<input type="hidden" name="model_version" value={{ MODEL_VERSION }}>

<div style="width: 33%; float:left;">

    <!-- General Options -->
    <b>Simulation name:</b> <input type="text" name="simulation_name" placeholder="E.g. Workshop without masks" required><br>
    Room number: <input type="text" name="room_number" placeholder="E.g. 17/R-033" required><br>
    <hr width="80%">
    <b>Room data:</b>
    <div data-tooltip="The area you wish to study (choose one of the 2 options). Use GIS Portal or measure.">
        <span class="tooltip_text">?</span>
    </div><br>
    <input type="radio" id="room_type_volume" name="volume_type" value="room_volume" onclick="require_fields(this)" tabindex="-1" required>
      <label for="room_type_volume">Room volume:</label> &nbsp;&nbsp;
    <input type="number" step="any" id="room_volume" class="non_zero" name="room_volume" placeholder="Room volume (m³)" min="0" data-has-radio="#room_type_volume"><br>
    <input type="radio" id="room_type_dimensions" name="volume_type" value="room_dimensions" onclick="require_fields(this)" tabindex="-1" required>
      <label for="room_type_dimensions">Floor area:</label> &nbsp;&nbsp;
    <input type="number" step="any" id="floor_area" class="non_zero" name="floor_area" placeholder="Room floor area (m²)" min="0" data-has-radio="#room_type_dimensions"><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <label for="room_type_dimensions">Ceiling height:</label> &nbsp;&nbsp;
    <input type="number" step="any" id="ceiling_height" class="non_zero" name="ceiling_height" placeholder="Room ceiling height (m²)" min="0" data-has-radio="#room_type_dimensions"><br>
    <hr width="80%">

    <!-- Ventilation Options -->
    <b>Ventilation data:</b>
    <div data-tooltip="The available means of venting / filtration of indoor spaces.">
        <span class="tooltip_text">?</span>
    </div><br>
    Ventilation type:
    <input type="radio" id="no_ventilation" name="ventilation_type" value="no-ventilation" checked>
      <label for="no_ventilation">No ventilation</label>&nbsp;&nbsp;
    <input type="radio" id="mechanical" name="ventilation_type" value="mechanical" data-enables="#DIVmechanical_ventilation">
      <label for="mechanical">Mechanical</label>&nbsp;&nbsp;
    <input type="radio" id="natural" name="ventilation_type" value="natural" data-enables="#DIVnatural_ventilation">
      <label for="natural">Natural</label><br>

    <div id="DIVmechanical_ventilation" style="display:none">
        <input type="radio" id="air_type_supply" name="mechanical_ventilation_type" value="air_supply" onclick="require_fields(this)" tabindex="-1">
          <label for="air_type_supply">Air supply flow rate</label> &nbsp;&nbsp;
        <input type="number" step="any" id="air_supply" class="non_zero" name="air_supply" min="0" placeholder="(m³ / hour)" data-has-radio="#air_type_supply"><br>
        <input type="radio" id="air_type_changes" name="mechanical_ventilation_type" value="air_changes" onclick="require_fields(this)" tabindex="-1">
          <label for="air_type_changes">Air changes per hour</label> &nbsp;&nbsp;
        <input type="number" step="any" id="air_changes" class="non_zero" name="air_changes" min="0" placeholder="(h⁻¹) only fresh air" data-has-radio="#air_type_changes"><br>
    </div>

    <div id="DIVnatural_ventilation" style="display:none">
        Number of windows: <input type="number" id="windows_number" class="non_zero" name="windows_number" min="1"><br>
        Height of window: <input type="number" step="any" id="window_height" class="non_zero" name="window_height" placeholder="meters" min="0"><br>
        Window type: 
        <input type="radio" id="window_sliding" name="window_type" value="sliding" onclick="require_fields(this)" checked="checked">
          <label for="window_sliding">Sliding / Side-Hung</label>&nbsp;&nbsp;
        <input type="radio" id="window_hinged" name="window_type" value="hinged" onclick="require_fields(this)">
          <label for="window_hinged">Top- or Bottom-Hung</label>&nbsp;&nbsp;<br>
        Width of window: <input type="number" step="any" id="window_width" class="non_zero has_radio disabled" name="window_width" placeholder="meters" min="0"><br>
        Opening distance: <input type="number" step="any" id="opening_distance" class="non_zero" name="opening_distance" placeholder="meters" min="0"><br>
        Windows open: <input type="radio" id="always" name="windows_open" value="always" onclick="require_fields(this)">
                        <label for="always">Always</label>&nbsp;&nbsp;
                      <input type="radio" id="interval" name="windows_open" value="interval" onclick="require_fields(this)">
                        <label for="interval">Interval:</label>&nbsp;&nbsp;
                      <input type="number" step="any" id="windows_duration" name="windows_duration" placeholder="mins" min="1" size="5" data-has-radio="#interval"> / 
                      <input type="number" step="any" id="windows_frequency" name="windows_frequency" placeholder="mins" min="1" size="5" data-has-radio="#interval">
        <br>
    </div>
    
    HEPA filtration:
    <input type="radio" id="hepa_no" name="hepa_option" value=0 onclick="require_fields(this)" checked="checked">
      <label for="hepa_no">No</label>&nbsp;&nbsp;
    <input type="radio" id="hepa_yes" name="hepa_option" value=1 onclick="require_fields(this)">
      <label for="hepa_yes">Yes</label>&nbsp;&nbsp;
    <input type="number" step="any" id="hepa_amount" class="non_zero disabled" name="hepa_amount" placeholder="(m³ / hour)" min="0" data-has-radio="#hepa_yes">
    <hr width="80%">

    <b>Face masks:</b>
    <div data-tooltip="Masks worn at workstations or removed when a 2m physical distance is respected and proper venting is ensured.">
        <span class="tooltip_text">?</span>
    </div><br>
    Are masks worn when occupants are at workstations?
    <input type="radio" id="mask_on" name="mask_wearing" value="continuous" required>
      <label for="mask_on">Yes</label>&nbsp;&nbsp;
    <input type="radio" id="mask_off"  name="mask_wearing" value="removed" required checked="checked">
      <label for="mask_off">No</label><br>
    Type of masks used:
    <input type="radio" id="mask_type1" name="mask_type" value="Type I" checked="checked" onclick="require_fields(this)">
      <label for="mask_type1">Type 1</label>&nbsp;&nbsp;
    <input type="radio" id="mask_ffp2"  name="mask_type" value="FFP2" onclick="require_fields(this)">
      <label for="mask_ffp2">FFP2</label><br>
    <hr width="80%">
</div>

<div style="width: 33%; float:left;">

    <!-- Event Options -->
    <b>Event data:</b>
    <div data-tooltip="The total no. of occupants in the room and how many of them you assume are infected.">
        <span class="tooltip_text">?</span>
    </div><br>
    Total number of occupants: <input type="number" id="total_people" name="total_people" min=1 required><br>
    Number of infected people: <input type="number" id="infected_people" name="infected_people" min=1 required><br>
    <span id="training_limit_error" class="red_text" hidden>Training activities limited to 1 infected<br></span>
    <hr width="80%">

    Activity type: <select id="activity_type" name="activity_type">
                    <option value="office">Office</option>
                    <option value="meeting">Meeting</option>
                    <option value="callcentre">Call Centre</option>
                    <option value="library">Library</option>
                    <option value="lab">Laboratory</option>
                    <option value="workshop">Workshop</option>
                    <option value="training">Training</option>
                    <option value="gym">Gym</option>
                  </select><br>
    Start: <input type="time" id="activity_start" class="start_time" data-time-group="activity" data-lunch-break="lunch_activity" name="activity_start" value="09:00" required> &nbsp;&nbsp;
    Finish: <input type="time" id="activity_finish" class="finish_time" data-time-group="activity" data-lunch-break="lunch_activity" name="activity_finish" value="18:00" required><br>
    Infected person(s) presence: <br>
    Start: <input type="time" id="infected_start" class="start_time" data-time-group="infected" name="infected_start" value="09:00" required> &nbsp;&nbsp;
    Finish: <input type="time" id="infected_finish" class="finish_time" data-time-group="infected" name="infected_finish" value="18:00" required><br>
    <hr width="80%">

    When is the event?
    <div data-tooltip="Select the date for one-off events or the month if the event is recurrent in the same space.">
        <span class="tooltip_text">?</span>
    </div><br>
    <input type="radio" id="event_type_single" name="event_type" value="single_event" onclick="require_fields(this)" tabindex="-1" required>
      <label for="event_type_single">Single event</label> &nbsp;&nbsp;
      <label for="event_type_single">Date: </label>
    <input type="text" id="single_event_date" class="datepicker" name="single_event_date" placeholder="dd/mm/yyyy" data-has-radio="#event_type_single"><br>
    <input type="radio" id="event_type_recurrent" name="event_type" value="recurrent_event" onclick="require_fields(this)" tabindex="-1" required>
      <label for="event_type_recurrent">Recurrent usage</label>
    <select id="recurrent_event_month" name="recurrent_event_month" data-has-radio="#event_type_recurrent">
        <option value="January">January</option>
        <option value="February">February</option>
        <option value="March">March</option>
        <option value="April">April</option>
        <option value="May">May</option>
        <option value="June">June</option>
        <option value="July">July</option>
        <option value="August">August</option>
        <option value="September">September</option>
        <option value="October">October</option>
        <option value="November">November</option>
        <option value="December">December</option>
    </select><br>
    <hr width="80%">

    <span id="activity_breaks">
      <b>Activity breaks:</b>
    </span><br>
    <!-- Lunch Options -->
    Lunch break:&nbsp;&nbsp;
    <input type="radio" id="lunch_option_no" name="lunch_option" value=0 onclick="require_fields(this)">
      <label for="lunch_option_no">No</label>&nbsp;&nbsp;
    <input type="radio" id="lunch_option_yes" name="lunch_option" value=1 checked="checked" onclick="require_fields(this)">
      <label for="lunch_option_yes">Yes</label><br>
    
    <div id="DIVlunch_break">
        Start: <input type="time" id="lunch_start" class="start_time" data-time-group="lunch_activity" data-lunch-for="activity" name="lunch_start" value="12:30" required> &nbsp;&nbsp;
        Finish: <input type="time" id="lunch_finish" class="finish_time" data-time-group="lunch_activity" data-lunch-for="activity" name="lunch_finish" value="13:30" required><br>
    </div>

    <!-- Coffee Options -->
    Coffee Breaks:&nbsp;&nbsp;
    <input type="radio" id="coffee_break_0" name="coffee_breaks" value="0" checked="checked">
      <label for="coffee_break_0" >No breaks</label>&nbsp;&nbsp;
    <input type="radio" id="coffee_break_2" name="coffee_breaks" value="2">
      <label for="coffee_break_2">2</label>&nbsp;&nbsp;
    <input type="radio" id="coffee_break_4" name="coffee_breaks" value="4">
      <label for="coffee_break_4">4</label><br>

    Duration (minutes): <select id="break_duration" name="coffee_duration">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="30">30</option>
             </select><br>
    Coffee breaks are spread evenly throughout the day.<br>
    <hr width="80%">
</div>

<div style="width: 33%; float:left;">

  <b>Quick Guide:</b><br>
  This tool simulates the long range airborne spread SARS-CoV-2 virus in a finite volume and estimates the risk of COVID-19 infection. It is based on current scientific data and can be used to compare the effectiveness of different mitigation measures.<br>
  <b>Ventilation data:</b> <br>
  <ul>
    <li>Mechanical ventilation = check the flow rates with the concerned technical department.</li>
    <li>Natural ventilation = the window opening distance is between the fixed frame and movable part when open (commonly used values are window height = 1.6m and window opening = 0.15m). Specify the windows open interval in duration and frequency.</li>
    <li>HEPA filtration = the air flow of the device. The following values are based on the different fan velocities of a specific commercial device proposed by the HSE Unit:</li>
    <ul>
        <li>Level 6 (max) = 430 m<sup>3</sup>/h (noisy)</li>
        <li>Level 5 = 250 m<sup>3</sup>/h (ok w.r.t. noise, recommended)</li>
        <li>Level 4 = 130 m<sup>3</sup>/h (silent)</li>
        <li>Level 3 = 95 m<sup>3</sup>/h (silent)</li>
    </ul>
  </ul>
  <b>Activity types:</b><br>
  The type of activity applies to both the infected and exposed persons:
  <ul>
    <li>Office = Typical office scenario with all persons seated, in conversation (talking 33% of the time, otherwise breathing normally).</li>
    <li>Meeting = Typical meeting scenario with all persons seated, in conversation (talking time is shared equally between all persons).</li>
    <li>Call Centre = A conservative assumption for office spaces, assumes all occupants are seated and talking continuously.</li>
    <li>Library = assumes all occupants are seated, breathing and not talking.</li>
    <li>Laboratory =  Typical lab scenario with all persons doing light physical activity and talking 50% of the time.</li>
    <li>Workshop = Typical mechanical assembly workshop or equipment installation scenario with all persons doing moderate activity and talking 50% of the time.</li>
    <li>Training = Training course scenario. One person (Trainer) standing, talking, all others seated, talking quietly (whispering). It is assumed the Trainer is the infected person, for the worst case scenario.</li>
    <li>Gym = Included for comparison purposes only, all persons are doing heavy exercise and breathing (no talking).</li>
  </ul>
  <b>Activity breaks:</b><br>
  <ul>
    <li>If coffee breaks are included, they are spread out evenly throughout the day, in addition to any lunch break (if applicable).</li>
  </ul>
  Refer to <a href="/calculator/user-guide"> COVID Calculator App user guide </a> for more detailed explanations on how to use this tool. <br>
</div>

<button type='submit' id="generate_report">Generate report</button><br><br><br><br>
</form>

<!-- Dialog boxes -->
<div id="DIALOG_welcome" title="Welcome to CARA!" class="dialog">
  <p>This software is provided with a disclaimer and code license.<span id="dots"></span><span id="more" style="display: none;">
    <br><br><b>Disclaimer:</b><br><br>
    <span id="disclaimer">The risk assessment tool simulates the long-range airborne spread SARS-CoV-2 virus in a finite volume, assuming a homogenous mixture, and estimates the risk of COVID-19 infection therein. The results DO NOT include short-range airborne exposure (where the physical distance plays a factor) nor the other known modes of SARS-CoV-2 transmission. Hence, the output from this model is only valid when the other recommended public health & safety instructions are observed, such as adequate physical distancing, good hand hygiene and other barrier measures.<br><br>
    The model used is based on scientific publications relating to airborne transmission of infectious diseases, dose-response exposures and aerosol science, as of December 2020.<br><br>
    Note that this model applies a deterministic approach, i.e., it is assumed at least one person is infected and shedding viruses into the simulated volume. Nonetheless, it is also important to understand that the absolute risk of infection is uncertain, as it will depend on the probability that someone infected attends the event. The model is most useful for comparing the impact and effectiveness of different mitigation measures such as ventilation, filtration, exposure time, physical activity and the size of the room, only considering long-range airborne transmission of COVID-19 in indoor settings.<br><br>
    This tool is designed to be informative, allowing the user to adapt different settings and model the relative impact on the estimated infection probabilities. The objective is to facilitate targeted decision-making and investment through comparisons, rather than a singular determination of absolute risk. While the SARS-CoV-2 virus is in circulation among the population, the notion of 'zero risk' or a 'completely safe scenario' does not exist. Each event modelled is unique and the results generated therein are only as accurate as the inputs and assumptions.<br><br></span>
    <br><br><b>Code License:</b><br><br>
    <span id="code_license">This code is licensed under GPL V3.</span></p><br>
  <button onclick="show_disclaimer()" id="myBtn" tabindex="-1">Read more</button><br><br>
</div>

<div class="text-component text-component-page clearfix"></div>
<br>
</div>
{% endblock main %}
