<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

  	<title>Report | CARA (COVID Airborne Risk Assessment)</title>

	<link rel="stylesheet" type="text/css" href="/calculator/static/css/report.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body id="body">

	<div style="position:relative; text-align:center; margin-left:-200pt; max-height:180pt;">
		<img src="/static/images/cara_logo_text.png" style="height:350px; margin-top:-50pt; display:inline-block; vertical-align:middle; object-fit:cover;">
		<h1 style="display:inline-block; vertical-align:middle; margin-left:-30pt;">Report</h1>
	</div>

	<p class=subtitle> Created {{ creation_date }} using model version {{ form.model_version }}</p><br>

  <p><strong>Applicable rules: <br>
  Please ensure that this scenario conforms to current <a href="https://hse.cern/covid-19-information"> CERN HSE rules<a> (minimum ventilation requirements, mask wearing and the maximum number of people permitted in a space).</strong> <br>
  The results of this simulation are colour coded according to the risk values authorized at CERN (approved in December 2020):
  <ul><li>Events with a <span class="green_bkg">P(i) less than 5%</span> may go ahead without further mitigation measures.</li>
    <li>Events with a <span class="yellow_bkg">P(i) between 5% and 15%</span> shall be subject to ALARA principles (see footnote) to minimise the risk before proceeding.</li>
    <li>Events with a <span class="red_bkg">P(i) exceeding 15%</span> may not take place until additional measures are in place and a risk reduction has been performed.</li>
  </ul>
  </p>

  <p><strong>Simulation:</strong><p>

	<p>Simulation Name: {{ form.simulation_name }}</p>
	<p>Room Number: {{ form.room_number }}</p>
	
	<p class="data_title">Input data:</p>
	<ul>
		<li><p class="data_text">Room Volume: {{ model.concentration_model.room.volume }} m³</p></li>
	</ul>

	<p class="data_title">Ventilation data:</p>
	<ul>
		<li><p class="data_text">Mechanical ventilation:
		{% if form.ventilation_type == "mechanical_ventilation" %}
		Yes </p></li>
		<ul>
			<li><p class="data_subtext">
			{% if form.mechanical_ventilation_type == "mech_type_air_supply"%}
			Air supply flow rate: {{ form.air_supply }} m³ / hour
			{% elif form.mechanical_ventilation_type == "mech_type_air_changes"%}
			Air changes per hour: {{ form.air_changes }} h⁻¹
			{% endif %}
			</p></li>
		</ul>
		{% else %}
		No </li>
		{% endif %}
		<li><p class="data_text">Natural ventilation:
		{% if form.ventilation_type == "natural_ventilation"%}
		Yes </p></li>
		<ul>
			<li><p class="data_subtext">Number of windows: {{ form.windows_number }}</p></li>
			<li><p class="data_subtext">Height of window: {{ form.window_height }} m</p></li>
			<li><p class="data_subtext">Window type:
			{% if form.window_type == "window_hinged" %}
			Top- or Bottom-Hung</p></li>
			<li><p class="data_subtext">Width of window: {{ form.window_width }} m</p></li>
			{% elif form.window_type == "window_sliding" %}
			Sliding / Side-Hung</p></li>
			{% endif %}
			<li><p class="data_subtext">Opening distance: {{ form.opening_distance }} m</p></li>
			<li><p class="data_subtext">Windows open: 
			{% if form.window_opening_regime == "windows_open_periodically" %}
			Periodically for {{ form.windows_duration | readable_minutes}} 
				every {{ form.windows_frequency | readable_minutes}}
			{% elif form.window_opening_regime == "windows_open_permanently" %}
			Permanently
			{% endif %}
			</p></li>
		</ul>
			<p class="data_subtext data_italic">When using the natural ventilation option, air flows are calculated using averaged hourly temperatures for the Geneva region, based on historical data for the month selected.</p>
		{% else %}
		No </p></li>
		{% endif %}
		<li><p class="data_text">HEPA Filtration: {{ 'Yes' if form.hepa_option else 'No' }}</li>
		{% if form.hepa_option %}
		<ul>
			<li><p class="data_text">HEPA amount: {{ form.hepa_amount }} m³ / hour</p></li>
		</ul>
		{% endif %}
	</ul>

	<p class="data_title">Event data:</p>
	<ul>
		<li><p class="data_text">Number of attendees and infected people: {{ form.total_people }} in attendance, of whom {{ form.infected_people }}
		{{ "is" if form.infected_people == 1 else "are" }}
		infected.</p></li>
		<li><p class="data_text">
		Activity type:
		{% if form.activity_type == "office" %}
		Office – typical scenario with all persons seated, talking occasionally (talking assumed for 1/3rd of the time).
		{% elif form.activity_type == "meeting" %}
		Meeting – typical scenario with all persons seated, one person talking at a time.
		{% elif form.activity_type == "callcentre" %}
		Call Centre = typical office-like scenario with all persons seated, all talking continuously.
		{% elif form.activity_type == "library" %}
		Library = Library scenario with all persons seated, breathing and not talking.
    	{% elif form.activity_type == "workshop" %}
		Workshop = assembly workshop environment, all persons doing moderate physical activity, talking 50% of the time.
		{% elif form.activity_type == "training" %}
		Training – one person (the trainer) standing, talking, all others seated, talking quietly (whispering). It is assumed the trainer is the infected person, for the worst case scenario.
		{% elif form.activity_type == "lab" %}
		Laboratory = Lab or technical environment, all persons doing light physical activity, talking 50% of the time.
		{% elif form.activity_type == "gym" %}
		Gym = For comparison only, all persons doing heavy physical exercise, breathing and not talking.
		{% endif %}
		</p></li>
		<li><p class="data_text">Exposed occupant(s) activity time:</p></li>
			<ul>
				<li><p class="data_subtext">Start time: {{ form.exposed_start | minutes_to_time }} &nbsp&nbsp End time: {{ form.exposed_finish | minutes_to_time }}</p></li>
			</ul>
		<li><p class="data_text">Infected occupant(s) activity time:</p></li>
		<ul>
			<li><p class="data_subtext">Start time: {{ form.infected_start | minutes_to_time }} &nbsp&nbsp End time: {{ form.infected_finish | minutes_to_time }}</p></li>
		</ul>
		<li><p class="data_text">Event for the month of {{ form.event_month }}</p></li>
	</ul>

	<p class="data_title">Break data:</p>
	{% if form.infected_dont_have_breaks_with_exposed %}
	<p style="padding-left:15px;"> Exposed occupant(s):</p>
	{% endif %}
	<ul>
		<li><p class="data_text">Lunch break:
		{% if form.exposed_lunch_option%}
		Yes</li>
		<ul>
			<li><p class="data_subtext">Start time: {{ form.exposed_lunch_start | minutes_to_time }} &nbsp&nbsp End time: {{ form.exposed_lunch_finish | minutes_to_time }}
		</ul>
		{% else%}
		No
		{% endif %}
		</p></li>
		<li><p class="data_text">Coffee breaks: {{ form.exposed_number_of_coffee_breaks() }}
		{% if form.exposed_number_of_coffee_breaks() > 0 %}
		each of {{ form.exposed_coffee_duration }} minutes duration
		</p></li>
		<ul>
		{%- for start_time, end_time in form.exposed_coffee_break_times() %}
		<li><p class="data_subtext">Coffee break {{ loop.index }}: Start: {{ start_time | minutes_to_time }} &nbsp&nbsp End: {{ end_time | minutes_to_time }}</p></li>
    	{%- endfor %}
		</ul>
		{% endif %}
	</ul>

	{% if form.infected_dont_have_breaks_with_exposed %}
	<p style="padding-left:15px;"> Infected occupant(s):</p>
	<ul>
		<li><p class="data_text">Lunch break:
		{% if form.infected_lunch_option%}
		Yes</li>
		<ul>
			<li><p class="data_subtext">Start time: {{ form.infected_lunch_start | minutes_to_time }} &nbsp&nbsp End time: {{ form.infected_lunch_finish | minutes_to_time }}
		</ul>
		{% else%}
		No
		{% endif %}
		</p></li>
		<li><p class="data_text">Coffee breaks: {{ form.infected_number_of_coffee_breaks() }}
		{% if form.infected_number_of_coffee_breaks() > 0 %}
		each of {{ form.infected_coffee_duration }} minutes duration
		</p></li>
		<ul>
		{%- for start_time, end_time in form.infected_coffee_break_times() %}
		<li><p class="data_subtext">Coffee break {{ loop.index }}: Start: {{ start_time | minutes_to_time }} &nbsp&nbsp End: {{ end_time | minutes_to_time }}</p></li>
    	{%- endfor %}
		</ul>
		{% endif %}
	</ul>
	{% endif %}

	<p class="data_title">Mask wearing:</p>		
	<ul>
		<li><p class="data_text">Masks worn at workstations? {{ 'Yes' if form.mask_wearing_option == "mask_on" else 'No' }} </p></li>
		{% if form.mask_wearing_option == "mask_on" %}
		<li><p class="data_text">Mask type: {{ form.mask_type }}</p></li>
		{% endif %}

	</ul>

	<p class="result_title">Results:</p>
		<p class="data_text">
 <span
{% if prob_inf > 15 %}
    class="red_bkg"><strong>Not Acceptable:</strong>
{% elif 5 <= prob_inf <= 15 %}
    class="yellow_bkg"><strong> Attention:</strong>
{% elif prob_inf < 5 %}
    class="green_bkg">Acceptable:
{% endif %}
 </span>

In this scenario, the estimated probability of one exposed occupant getting infected P(i) is {{ prob_inf | non_zero_percentage }} and the expected number of new cases is {{ expected_new_cases | float_format }}.
  
{% if (prob_inf > 15) %}
  This exceeds the authorised risk threshold.
  The risk level must be reduced before this activity can be undertaken.
{% elif (5 <= prob_inf <= 15) %}
  This activity has an elevated level of risk, ALARA principles must be applied to minimise the level of risk before undertaking the activity.
  See the footnotes for more details on the ALARA principles.
{% elif (prob_inf < 5) %}
  This level of risk is within acceptable parameters, no further actions are required.
{% endif %}
	<p class="data_title">Exposure graph:</p>
	<img id="scenario_concentration_plot" src="{{ scenario_plot_src }}">

    <p class="data_title">Repeated events:</p>
    <p class="data_text">
		The P(i) and expected number of new cases if repeating this scenario event - provided the infected person emits the same amount of viruses each day and the exposed person is subject to the same daily exposure time:

        <table class="table table-striped w-auto">
            <thead class="thead-light">
                <tr>
                    <th># of repeated events</th>
                    <th>P(i)</th>
                    <th>Expected new cases</th>
                </tr>
            </thead>
            <tbody>
            {% for repeat_event in repeated_events %}
                <tr>
                    <td>{{ repeat_event.repeats }}</td>
                    <td>{{ repeat_event.probability_of_infection | non_zero_percentage }}</td>
                    <td style="text-align:right">{{ repeat_event.expected_new_cases | float_format }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </p>

    <p class="data_title">Alternative scenarios:</p>
    <p class="data_text">
    <img id="scenario_concentration_plot" src="{{ alternative_scenarios.plot }}" align="left" />
        <table class="table w-auto">
            <thead class="thead-light">
                <tr>
                    <th>Scenario</th>
                    <th>P(i)</th>
                    <th>Expected new cases</th>
                </tr>
            </thead>
            <tbody>
            {% for scenario_name, scenario_stats in alternative_scenarios.stats.items() %}
                {%if ( scenario_stats.probability_of_infection  > 15) %}
                  <tr class="red_bkg">
                {% elif (5 <= scenario_stats.probability_of_infection <= 15) %}
                  <tr class="yellow_bkg">
                {% elif (scenario_stats.probability_of_infection < 5) %}
                  <tr class="green_bkg">
                {% endif%}
                    <td> {{ scenario_name }}</td>
                    <td> {{ scenario_stats.probability_of_infection | non_zero_percentage }}</td>
                    <td style="text-align:right">{{ scenario_stats.expected_new_cases | float_format }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </p>
    <div style="clear: both;">

    <p class="data_text"> <strong> Notes for alternative scenarios: </strong><br>
	    <ol>
	    	<li>This graph shows the concentration of infectious quanta in the air. The filtration of Type I and FFP2 masks, if worn, applies not only to the emission rate but also to the individual exposure (i.e. inhalation).
	    For this reason, scenarios with different types of mask will show the same concentration on the graph but have different Pi values.</li>
	   		<li>If you have selected more sophisticated options, such as HEPA filtration or FFP2 masks, this will be indicated in the plot as the "base scenario", representing the inputs inserted in the form.<br>
	    	The other alternative scenarios shown for comparison will not include either HEPA filtration or FFP2 masks.</li>
	    </ol>
	    <br>
	</p>

	<p class="data_text">
	    <strong> Footnotes for ALARA: </strong><br>
	    ALARA stands for As Low As Reasonably Achievable. It can be summarised based on 3 main points:
	    <ol>
	    	<li>Justification - any exposure of persons has to be justified </li>
	    	<li>Limitation - the personal doses have to be kept below the legal limits (in this case the CERN exposure limits)</li>
	    	<li>Optimisation - the personal doses and collective doses have to be kept as low as reasonably achievable (ALARA).</li>
	    </ol>
	    For more information, please refer to <a href="https://cds.cern.ch/record/1533023/files/CERN-2013-001-p415.pdf"> this document from CERN HSE </a> and <a href="https://www.cdc.gov/nceh/radiation/safety.html#:~:text=ALARA%20stands%20for%20%E2%80%9Cas%20low,time%2C%20distance%2C%20and%20shielding."> this publication from the CDC.</a> 
	    <br><br>
	</p>

	<div>
		<a href="{{ qr_code.link }}"><img style="width:250pt;" id="qr_code" src="{{ qr_code.image }}"/></a>
		<i style="position:absolute; margin-top:3.5cm">Click the QR code to regenerate the report and get a shareable link.<br>Alternatively, scan to regenerate the report.<br> Mobile-friendly app coming soon!</i>
	</div>

	<br><br><br>
	<div style="border: 2px solid black; padding: 15px;">
		<p class="image"> <img align="middle" src="/calculator/static/images/disclaimer.jpg" width="40" height="40"><b>Disclaimer:</b><br><br></p>
	    <p class="discalimer">The risk assessment tool simulates the long-range airborne spread SARS-CoV-2 virus in a finite volume, assuming a homogenous mixture, and estimates the risk of COVID-19 infection therein. The results DO NOT include short-range airborne exposure (where the physical distance plays a factor) nor the other known modes of SARS-CoV-2 transmission. Hence, the output from this model is only valid when the other recommended public health & safety instructions are observed, such as adequate physical distancing, good hand hygiene and other barrier measures.<br><br>
	    The model used is based on scientific publications relating to airborne transmission of infectious diseases, dose-response exposures and aerosol science, as of December 2020 . It can be used to compare the effectiveness of different airborne-related risk mitigation measures.<br><br>
	    Note that this model applies a deterministic approach, i.e., it is assumed at least one person is infected and shedding viruses into the simulated volume. Nonetheless, it is also important to understand that the absolute risk of infection is uncertain, as it will depend on the probability that someone infected attends the event. The model is most useful for comparing the impact and effectiveness of different mitigation measures such as ventilation, filtration, exposure time, physical activity and the size of the room, only considering long-range airborne transmission of COVID-19 in indoor settings.<br><br>
	    This tool is designed to be informative, allowing the user to adapt different settings and model the relative impact on the estimated infection probabilities. The objective is to facilitate targeted decision-making and investment through comparisons, rather than a singular determination of absolute risk. While the SARS-CoV-2 virus is in circulation among the population, the notion of 'zero risk' or a 'completely safe scenario' does not exist. Each event modelled is unique and the results generated therein are only as accurate as the inputs and assumptions.<br><br>
    	CARA is made available for internal CERN use only. It is intended for Members of Personnel with roles related to Supervision, Health & Safety or Space Management, in order to simulate the concerned workplaces on CERN sites. For use outside of this scope, it has to be performed under a pre-defined framework and licence agreement issued by CERN Knowledge Transfer (<a href="mailto:kt@cern.ch">kt@cern.ch</a>).</p>
	</div>
</body>
</html>
