<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">  
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="/calculator/static/css/report.css"> 
</head>

<body id="body">

	<h1>Output from CARA - COVID Airborne Risk Assessment tool</h1>

	<p class=subtitle> Created {{ creation_date }} using model version {{ model_version }}</p><br>

	<p>Simulation Name: {{ simulation_name }}</p>
	<p>Room Number: {{ room_number }}</p>

	<p class="data_title">Input data:</p>
	<ul>
		<li><p class="data_text">Room Volume: {{ room_volume }} m³</p></li>
	</ul>

	<p class="data_title">Ventilation data:</p>
	<ul>
		<li><p class="data_text">Mechanical ventilation:
		{% if ventilation_type == "mechanical_ventilation"%}
		Yes </p></li>
		<ul>
			<li><p class="data_subtext">Air supply flow rate: {{ air_supply }}</p></li>
			<li><p class="data_subtext">Air changes per hour: {{ air_changes }}</p></li>
		</ul>
		{% else %}
		No </li>
		{% endif %}
		<li><p class="data_text">Natural ventilation:
		{% if ventilation_type == "natural_ventilation"%}
		Yes </p></li>
		<ul>
			<li><p class="data_subtext">Number of windows: {{ windows_number }}</p></li>
			<li><p class="data_subtext">Height of window: {{ window_height }}</p></li>
			<li><p class="data_subtext">Width of window: {{ window_width }}</p></li>
			<li><p class="data_subtext">Opening distance: {{ opening_distance }}</p></li>
			<li><p class="data_subtext">Windows open: {{ windows_open }}</p></li>
		</ul>
		{% else %}
		No </p></li>
		{% endif %}
		<li><p class="data_text">HEPA Filtration: {{ hepa_option }}</li>
		<!--TODO: X type of filter with y flow rate (default model assumption) ? This was in the output doc..? -->
	</ul>

	<p class="data_title">Event data:</p>
	<ul>
		<li><p class="data_text">Number of attendees and infected people: {{ total_people }} in attendance, of whom {{ infected_people }} are infected.</p></li>
		<li><p class="data_text">Activity type: {{ activity_type }}</p></li>
		<ul>
				<li><p class="data_subtext">Start time: {{ activity_start }} &nbsp&nbsp End time: {{ activity_finish }}</p></li>
			</ul>
		<li><p class="data_text">Exposure time (presence of infected person):</p></li>
		<ul>
			<li><p class="data_subtext">Start time: {{ exposure_start }} &nbsp&nbsp End time: {{ exposure_finish }}</p></li>
		</ul>
		{% if event_type == "single_event"%}
		<li><p class="data_text">Single event on {{ single_event_date }}</p></li>
		{% endif %}
		{% if event_type == "recurrent_event"%}
		<li><p class="data_text">Recurrent event for the month of {{ recurrent_event_month }}</p></li>
		{% endif %}

	</ul>

	<p class="data_title">Break data:</p>
	<ul>
		<li><p class="data_text">Lunch break: {{ lunch_option }}</li>
		{% if lunch_option == "Yes" %}
		<ul>
			<li> Start: {{ lunch_start }} &nbsp&nbsp End: {{ lunch_finish }}</p></li>
		</ul>
		{% endif %}
		<li><p class="data_text">Coffee breaks: {{ coffee_breaks }}	
		{% if coffee_breaks > 0 %}
		each of {{ coffee_duration }} minutes duration
		</p></li>
		<ul>
		{%- for coffee in coffee_times %}
		<li><p class="data_subtext">Coffee break {{ loop.index }}: Start: {{ coffee[0] }} &nbsp&nbsp End: {{ coffee[1] }}</p></li>
    	{%- endfor %}
		</ul>
		{% endif %}
	</ul>

	<p class="data_title">Mask wearing:</p>
	<ul>
		<li><p class="data_text">Masks worn at workstations? {{ mask_wearing }}</p></li>
		<li><p class="data_text">Mask type: Type 1 (default, for now)</p></li>
	</ul>

	<p class="result_title">Results:</p>
		<p class="data_text"> In this scenario, the estimated probability of one exposed occupant getting infected P(i) is {{ infection_probability }} % and the estimated basic reproduction rate (R0) rate is {{ reproduction_rate }}. This probability estimate is per simulated time period, i.e. if you have simulated a working day, which will be repeated n times per week, the cumulative probability of infection per person is n x P(i).<p>
	<p class="data_title">Exposure graph:</p>
</body>
</html>