{% extends "base/userguide.html.j2" %}

{% block room_volume_guide %}
{{_("This information is available via GIS Portal")}} (<a href="https://gis.cern.ch/gisportal/">https://gis.cern.ch/gisportal/</a>).</p>
{% endblock room_volume_guide %}