{% extends "layout.html.j2" %}

{% block main %}

<div class="container container--padding" style="word-wrap:break-word";> 

<h1 class="paragraph-title">Airborne Transmission of SARS-CoV-2</h1><br>
Currently, the existing public health measures point to the importance of proper building and environmental engineering control measures, such as proper Indoor Air Quality (IAQ).
This pandemic clearly raised increased awareness on airborne transmission of respiratory viruses in indoor settings.
Out of the main modes of viral transmission, the airborne route of SARS-CoV-2 seems to have a significant importance to the spread of COVID-19 infections world-wide, hence proper guidance to building engineers or facility managers, on how to prevent on-site transmission, is essential.<br>
For information on the Airborne Transmission of SARS-CoV-2, feel free to check out the special issue on the Interface Focus journal from Royal Society publishing:  <a href=https://royalsocietypublishing.org/toc/rsfs/2022/12/2>Interface Focus: Volume 12, Issue 2</a>   and an CERN HSE Seminar: <a href=https://cds.cern.ch/record/2743403>https://cds.cern.ch/record/2743403</a>.<br>
<br><br>
<h1 class="paragraph-title">What is CAiMIRA?</h1><br>
CAiMIRA stands for CERN Airborne Model for Indoor Risk Assessment and was initially developed as CARA - COVID Airborne Risk Assessment - in the spring of 2020 to better understand and quantify the risk of long-range airborne spread of SARS-CoV-2 virus in workplaces. 
Since then, the model has evolved and now is capable of simulating the short-range component. CAiMIRA comes with different applications that allow more or less flexibility in the input parameters:
<ul>
	<li><a href='{{ calculator_prefix }}'>CAiMIRA calculator app</a></li>
	<li><a href='/expert-app'>CAiMIRA expert app</a></li>
</ul>

The mathematical and physical model simulate the airborne spread of SARS-CoV-2 virus in a finite volume, assuming a homogenous mixture and a two-stage exhaled jet model, and estimates the risk of COVID-19 airborne transmission therein. The results DO NOT include other known modes of SARS-CoV-2 transmission. Hence, the output from this model is only valid when the other recommended public health & safety instructions are observed, such as good hand hygiene and other barrier measures.<br>
<p>The methodology, mathematical equations and parameters of the model are published here in the CARA paper: <a href="https://doi.org/10.1098/rsfs.2021.0076"> Modelling airborne transmission of SARS-CoV-2 using CAiMIRA: risk assessment for enclosed spaces</a>.</p>
<p>The short-range component of the model was adapted from <i>Jia et al. (2022)</i> <a href="https://doi.org/10.1016/j.buildenv.2022.109166"> Exposure and respiratory infection risk via the short-range airborne route</a>  .</p>

The model used is based on scientific publications relating to airborne transmission of infectious diseases, virology, epidemiology and aerosol science. It can be used to compare the effectiveness of different airborne-related risk mitigation measures.

The tool helps assess the potential dose of infectious airborne viruses in indoor gatherings, with people seated, standing, moving around, while breathing, speaking or shouting/singing. The model is based on the exponential dose-response of disease transmission, which assumes a fixed value for the average infectious dose. 
The methodology of the model is divided into five parts:
<ol>
	<li>Estimating the emission rate of virions;</li>
	<li>Estimating the removal rate of virions;</li>
	<li>Modeling the concentration of virions within a given volume, as a function of time;</li>
	<li>Absorbed dose of infectious viruses, inhaled during the exposure time;</li>
	<li>Estimating the probability of a COVID-19 infection (or secondary transmission) and the expected number of new cases arising from the event </li>
</ol>
<br>
<h1 class="paragraph-title">What is the aim of CAiMIRA?</h1><br>
Although the user is able to calculate the infection probability of a stand-alone event with a pre-defined set of protection measures, the main utility of CAiMIRA is to compare the relative impact of different measures and/or combination of measure. For example:
<ul>
	<li>Compare keeping a window slightly open vs one or two windows open entirely</li>
	<li>Compare opening one entire window every 2h for 10 min vs keeping half a window open all day</li>
	<li>Compare the effect of an FFP2 with respect to a Type I surgical mask</li>
	<li>Adapt the maximum occupancy considering the effect of HEPA filters</li>
	<li>Etc…</li>
</ul>
	
<h1 class="paragraph-title">Main Developers:</h1><br>
{{ text_blocks['Main Developers'] }}
<br>
<h2 class="paragraph-title">Code Contributors:</h2><br>
{{ text_blocks['Code Contributors'] }}
<br>
<a id="references_block" style="color:#2f4858"><h1 class="paragraph-title">References:</h1></a><br>
{{ text_blocks['References'] }}
<br>
<h3 class="acknowledgements">Acknowledgements:</h3><br>
<details>
	<summary>Click to expand</summary>
	<br>
	{{ text_blocks['Acknowledgements'] }}
</details>

<div class="text-component text-component-page clearfix"></div>
<br>
</div>
</div>
{% endblock main %}
