{% extends "layout.html.j2" %}
{% set active_page="home/" %}

{% block main %}
<header class= "bg-light">
  <div class="container container--padding">
    <img src="/static/images/caimira_full_text.png" class="logo d-block m-auto" id="desktop_logo">
    <img src="/static/images/caimira_full_logo.png" class="logo d-none m-auto" id="mobile_logo">
  </div>
</header>
   
<div class="container container--padding">
  <div class="d-flex mb-3 justify-content-center" id="calculator_app_button">
    <div><a href="{{ calculator_prefix }}" role="button" class="btn btn-outline-primary"><div class="d-flex d-row"><i class="icon-calculator"></i><span class="pl-1">Calculator</div></a></div>
  </div>
  <div class="split">
    <div class="col-lg-8 col-md-7 pl-0">
      <h2 class="paragraph-title">Introduction</h2><br>
      <div>
          <p>
          CAiMIRA is a risk assessment tool developed to model the concentration of viruses in enclosed spaces, in order to inform space-management decisions.
          It does this by simulating the airborne spread SARS-CoV-2 virus in a finite volume, assuming homogenous mixing for the long-range component and a two-stage jet model for short-range, and estimates the risk of COVID-19 airborne transmission therein.
          Please see the <a href="/about">About</a> page for more details on the methodology, assumptions and limitations of CAiMIRA.
          </p>
          <p>
          The full CAiMIRA source code can be accessed freely under an Apache 2.0 open source license from our <a href="https://gitlab.cern.ch/cara/caimira">code repository</a>.
          It includes detailed instructions on how to run your own version of this tool.
          </p>
          <br>
      </div>
      <div id="apps_section" class="d-none">
        <div class="d-flex flex-row" >
          {# <h2 class="paragraph-title pr-4 align-self-center">Apps:</h2>
          <br> #}
          <div class="pr-3"><a href="{{ calculator_prefix }}" role="button" class="btn btn-lg btn-outline-primary"><div class="d-flex d-row"><i class="icon-calculator"></i><span class="pl-2">Calculator</div></a></div>
          <br>
          <div class="expert_app_button"><a href="/expert-app" role="button" class="btn btn-lg btn-outline-secondary"><div class="d-flex d-row"><i class="icon-expert"></i><span class="pl-2">Expert (beta)</div></a></div>
        </div>
        {# <hr width="95%"> #}
      </div>
    </div>
    <div class="align-self-center">
      <img src="static/images/CAiMIRA_1_Vs3_Colour.jpg" class="caimira_home_image">
    </div>
  </div>
  <br>
  
  
  <div class="d-flex justify-content-between">
    
    <div class="w-25"><hr width="95%">
      <div class="d-flex m-3 align-items-center"><i class="bi bi-window" style="font-size: 25px"></i><div><p class="paragraph-title ml-2">Applications</p></div></div>
      <div class="m-3">CAiMIRA is composed of two applications, the <a href="{{ calculator_prefix }}">Calculator</a> and the <a href="/expert-app">Expert App</a>.</div>
    </div>
    <div class="w-25"><hr width="95%">
      <div class="d-flex m-3 align-items-center"><i class="bi bi-info-square-fill" style="font-size: 25px"></i><div><p class="paragraph-title ml-2">About</p></div></div>
      <div class="m-3"><a href="/about">About</a> page for details on methodology, assumptions and limitations of CAiMIRA.</div>
    </div>
    <div class="w-25"><hr width="95%">
      <div class="d-flex m-3 align-items-center"><i class="bi bi-journal-text" style="font-size: 25px"></i><div><p class="paragraph-title ml-2">Documentation</p></div></div>
      <div class="m-3">Documentation for CAiMIRA's applications, available online.<br><a href="https://caimira.readthedocs.io/">caimira.readthedocs.io/</a></div>
    </div>
    <div class="w-25"><hr width="95%">
      <div class="d-flex m-3 align-items-center"><i class="bi bi-git" style="font-size: 25px"></i><div><p class="paragraph-title ml-2">GitLab</p></div></div>
      <div class="m-3">Official CAiMIRA's GitLab repository.<br><a href="https://gitlab.cern.ch/cara/cara">gitlab.cern.ch/cara/cara</a></div>
    </div>
  </div>
  <br>

  {% block caimira_at_cern %}
  {% endblock caimira_at_cern %}

  <br>
  <div>
    <h2 class="paragraph-title">Reference & Citation</h2><br>
    <p>
    <b>For use of the CAiMIRA model:</b><br>
      <ul> 
        <li> Henriques A, Mounet N, Aleixo L, Elson P, Devine J, Azzopardi G, Andreini M, Rognlien M, Tarocco N, Tang J. (2022). 
        Modelling airborne transmission of SARS-CoV-2 using CARA: risk assessment for enclosed spaces. 
        <i>Interface Focus</i>  <b>12</b>: 20210076. <a href=https://doi.org/10.1098/rsfs.2021.0076>doi.org/10.1098/rsfs.2021.0076</a> </li>
        <a href=https://royalsocietypublishing.org/action/showCitFormats?doi=10.1098%2Frsfs.2021.0076><i>Download citation</i></a><br>
          <b><i>Short-range expiratory jet model from:</i></b> 
          <ul>
              <li> Jia W, Wei J, Cheng P, Wang Q, Li Y. (2022).
              Exposure and respiratory infection risk via the short-range airborne route.
              <i>Building and Environment</i> <b>219</b>: 109166. <a href=https://doi.org/10.1016/j.buildenv.2022.109166>doi.org/10.1016/j.buildenv.2022.109166</a>
              </li>
          </ul>
      </ul>
      <b>For use of the CAiMIRA web app:</b><br>
      <ul> 
        <li>CAiMIRA – CERN Airborne Model for Indoor Risk Assessment tool</li>
        <a href="https://doi.org/10.5281/zenodo.6520431"><img src="https://zenodo.org/badge/DOI/10.5281/zenodo.6520431.svg" alt="DOI"></a><br> 
        © Copyright 2020-2021 CERN. All rights not expressly granted are reserved.<br>
        Licensed under the Apache License, Version 2.0<br>
        <a href=https://gitlab.cern.ch/cara/caimira/-/blob/master/LICENSE><i>LICENSE</i></a>
      </ul>
    </p>
  </div>
  
  <br>
  <h3 class="acknowledgements">Acknowledgements</h3><br>
  <details>
    <summary>Click to expand</summary>
    <br>
    <em>{{ text_blocks['Acknowledgements'] }}</em>
  </details>
  <span style="height: 3vh; display: block;"></span>
  </div>
</div>
{% endblock main %}
